@font-face {
  font-family: TheRainmaker;
  src: url(fonts/The\ Rainmaker.otf);
}

body {
  margin: 10px;
  font-family: "Ubuntu", sans-serif;
}

#about_me {
  font-family: "TheRainmaker";
  color: rgb(211, 16, 16);
}

.dark-mode #about_me {
  color: #ebfffc;
}

.dark-mode {
  /* background-color: #222222; */
  background-color: #273146;
  color: white;
}
.dark-mode #gif {
  content: url("assets/night.gif");
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.dark-mode a {
  color: rgb(0, 129, 250);
  /* color: #7b8994; */
  text-decoration: none;
}
a {
  text-decoration: none;
}

#about_me {
  margin-top: 10px;
}

#icon {
  margin-left: 5px;
  margin-right: 5px;
}

.h4 {
  margin-bottom: 12px;
  font-family: "Comic Neue", cursive;
  color: rgb(211, 16, 16);
}

.dark-mode .h4 {
  color: #acbdc2;
}

.light-theme {
  content: "Light Theme";
}
.dark-theme {
  content: url("assets/night-mode.svg");
  width: 30;
}
.location-light {
  content: url("https://icons8.com/icon/Z7Zyb5zzXReO/location");
  width: 20;
}
.location-dark {
  content: url("assets/location-dark.svg");
  width: 20;
}

#icon:hover {
  width: 5%;
}
