/* .dark-mode will contain all the colors and specifications of light mode */

@font-face {
  font-family: TheRainmaker;
  src: url(fonts/The\ Rainmaker.otf);
}

body {
  margin: 10px;
  background-color: #273146;
  color: white;
}

#info {
  font-family: "Ubuntu", sans-serif;
}
#doing {
  font-family: "Ubuntu", sans-serif;
}

.dark-mode #about_me {
  color: #0466c8;
}

#about_me {
  font-family: "TheRainmaker";
  color: #28ffbf;
}
dark-mode #about_me {
  color: #ffffff;
  margin-top: 10px;
}

.dark-mode {
  background-color: #ffffff;
  color: black;
}
.dark-mode #gif {
  content: url("assets/day1.gif");
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
#gif {
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.dark-mode a {
  color: rgb(0, 129, 250);
  text-decoration: none;
}
a {
  text-decoration: none;
}

#icon {
  margin-left: 5px;
  margin-right: 5px;
}

.h4 {
  margin-bottom: 12px;
  font-family: "Comic Neue", cursive;
  color: #28ffbf;
}

.dark-mode .h4 {
  color: #0466c8;
}

#icon:hover {
  width: 5%;
}
i {
  width: 20;
}

#copyright {
  margin-top: 10px;
}
